$large-font-size: 22px;
$medium-font-size: 17px;
$font-family-base: 'Roboto';
$background-base-color: rgb(242, 242, 242);
$background-secondary-color: rgb(248, 248, 248);
$content-base-color: white;
$success-base-color: #7ed035;